<!DOCTYPE HTML>
<html ng-app="messageWall">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/libs/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.15/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/libs/jquery.js"></script>
    <script src="js/libs/jquery.slimscroll.js"></script>
    <script src="js/app/main.js"></script>
    <title>AngularFire Based Message Wall</title>
    
</head>
<body class="container">
    <div class="github-fork-ribbon-wrapper right">
            <div class="github-fork-ribbon">
                <a href="https://github.com/frknbasaran/angularfire-message-wall">Fork me on GitHub</a>
            </div>
    </div>
    <center><font face="Raleway" size="7">MESSAGE WALL</font></center>
    <div class="row">
        <div class="col-md-3">
            <h3>Send a new message</h3>
            <form ng-controller="messageForm as TF" name="messageSend" ng-submit="TF.sendMessage(message,fbusername)">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" ng-model="fbusername" placeholder="facebook username" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Your Message</label>
                    <textarea ng-model="message" class="form-control" rows="2" required></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Send</button>
                </div>
            </form>
        </div>
        <div ng-controller="messageParser as mp" class="col-md-8 main">
            <div ng-repeat="message in mp.messages" class="panel panel-default">
                <div class="panel-body">
                    <img class="media-object" ng-src="{{message.user.picture}}" style="width: 48px; height: 48px;">
                    <username><a target="_new" href="http://facebook.com/{{message.user.name}}">{{message.user.name}}</a></username>
                    <clear></clear>
                    <br><tweet>{{message.text}}</tweet>
                </div>
            </div>
        </div>
        
    </div>
    <center>Developed by <a href="http://twitter.com/frknbasaran" target="_new">@frknbasaran</a></center>
</body>
</html>